---

---

<html class="dark:bg-black" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<title>Slowpoke</title>
		<link href="/favicon.svg" rel="icon" type="image/svg+xml" />
	</head>
	<body class="dark:bg-black">
		<slot />
	</body>
</html>
